.App {
  /* text-align: center; */
}

.main-container {
  display: flex;
  gap: 2rem;
}

.container {
  width: 30%;
}

.content {
  width: 70%;
}

.content__range-selector {
  display: flex;
  justify-content: center;
}

.selector {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selector:hover {
  background-color: #f0f0f0;
}
